body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.month-row {
    justify-content: space-between;
}

.month-row:after {
    clear: both;
    content: "";
    display: table;
}

.days-heading-row:after {
    clear: both;
    content: "";
    display: table;
}

.current-month {
    margin-bottom: 10px;
}

.day {
    background: #fff;
    border: 1px solid #999;
    float: left;
}
  
.day:focus {
outline: none;
}

.day-name {
float: left;
border: 1px solid #999;
}

.app {
display: flex;
flex-direction: row;
}

.app-info {
margin-left: 20px;
}