body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.month-row:after {
    clear: both;
    content: "";
    display: table;
}

.current-month {
    margin-bottom: 10px;
}

.day {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }

  .app {
    display: flex;
    flex-direction: row;
  }
  
  .app-info {
    margin-left: 20px;
  }